body{
    font-size: 16px;
}

.app-wrapper{
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

.app-login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 40vh;
}

.app-login h2{
    font-size: 1.5rem;
    margin-bottom: 2rem;
    color: #777;
    text-align: center;
}

.info{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #777;
}

.loading{
    font-size: 4rem;
}

.no-favorites{
    font-size: 2.5rem;
}