<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <div>
            <h3>Your favourite Heroes</h3>
            <% var heroes = Object.values(favouriteHeroes) %>
            <% heroes.forEach(hero => { %>
                <p><%= hero %></p>
            <% }) %>    
        </div>
    </body>
</html>