<!DOCTYPE html>
<html>
    <head>
        <title>Marvel Superhero Index</title>
    </head>
    <body>
        <h1>Search superhero</h1>
        <p>Will appear here shortly</p>

        <form method ="POST">
            <p>Enter your mania: <input name = "mania"/> </p>
            <button type = "submit">Submit</button>
        </form>
    </body>
</html>