<!DOCTYPE html> 
<html>
    <head>
        <title>Login</title>

        <script src="https://www.gstatic.com/firebasejs/7.2.2/firebase-app.js"></script>
        <script src="/__/firebase/7.2.2/firebase-auth.js"></script>
        <script>
        var firebaseConfig = {
            apiKey: "AIzaSyAHQ4yvwNA4fKT6muDDiMuvaSH9kIhXOiQ",
            authDomain: "marvelousproject-b02cb.firebaseapp.com",
            databaseURL: "https://marvelousproject-b02cb.firebaseio.com",
            projectId: "marvelousproject-b02cb",
            storageBucket: "marvelousproject-b02cb.appspot.com",
            messagingSenderId: "543638853663",
            appId: "1:543638853663:web:6d9e66db29a80694d59d2a",
            measurementId: "G-KW4PP4ZR1L"
        };
        // Initialize Firebase
        firebase.initializeApp(firebaseConfig);
        
        </script>

        <link rel = "stylesheet" href = "css/login.css">
    </head>


    <body>
        <h3>
            PLEASE LOGIN
        </h3>
        <button class="loginBtn loginBtn--facebook">
            Login with Facebook
            </button>

            <button 
                class="loginBtn loginBtn--google"
                onclick = {signInWithGoogle()}
            >
            Login with Google
            </button>  


        <script src = "./js/signIn.js"></script>

    </body>
</html>
