*{
    box-sizing: border-box;
    background: #000;
    color: #FFF;
    font-family: 'Marvel', sans-serif;
    
}
.body{
    width: 99%;
    height:99%;
}
.flex_container{

    width:100%;

}
.svg_container{
    position: fixed;
    bottom: 0; 
    width:100%;
}

.jarvis-like{

    position: fixed;
    left: 0;
    top:0;
    right:80%;
    margin: 0% auto;
    background:transparent;
}

.jarvis_hover--red{
    fill: transparent; 
    stroke: rgb(233, 17, 17);
    stroke-width: 7;  
}

.jarvis_hover--green{
    fill: transparent; 
    stroke: rgb(13, 99, 25);
    stroke-width: 7;  
}

.jarvis_hover--blue{
    fill: transparent; 
    stroke: rgb(69, 23, 122);
    stroke-width: 7;  
}

.hide{
    visibility:hidden;

}

.navbar_background{
    width: 100%;
    background-color: #000;
    top: 0;
    height: 12%;
    position: fixed;
    z-index: -1;
}

/* PAGINATION */
.pagination_container{
    
    width:100%;
    background: #000;
    top:90%;
    height:10%;
}

.pagination_left{
    position: fixed;
    color: #64E6EF;
    font-size: 3rem;
    bottom: 0;
    margin-bottom: 2%;
    left: 2%;
    top: 50%;
    background: transparent;

}
.pagination_right{
    position:fixed;
    color: #64E6EF;
    font-size: 3rem;
    bottom: 0;
    margin-bottom: 2%;
    right:2%;
    top: 50%;
    background: transparent;
 
}
.pagination_left:hover{
    color: rgb(185, 7, 22);
    cursor: pointer
}
.pagination_right:hover{
    color: rgb(185, 7, 22);
    cursor: pointer
}

.jarvis_navbar{
    display:flex;
    justify-content: flex-end;
}

.jarvis_nav{
    margin: 1%;
    padding: 0;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    position:fixed;
    right:0;   
}

.jarvis_nav_element{
    margin: 1rem;
    font-family: 'Marvel', sans-serif;
    font-size: 1.5rem;
    color: #64E6EF; 
}

.jarvis_nav_element:hover{
    cursor: pointer;
    color:#B4F6FB;
}

.display_container{
    /* background: #865b5b; */
    position:absolute;
    top: 20%;
    bottom:20%;
    left:5%;
    right:5%;
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    z-index: -2; 
    text-align: center;
    font-size: 1rem;
   
}

.card_container {
    display: flex;
    flex-direction: column;
    border: 1% solid rgba(128,128,128,0.95);
    cursor: pointer;
    margin:2%;
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
    color: #64E6EF; 
    overflow: hidden;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;   
  }

  
  .card_container:hover {
    transform: scale(1.05);
    box-shadow: 5px  #64E6EF;
  }

  .hero_image{
    border: 1px solid grey;
  }

  .hero_image:hover{
    opacity: 0.95;
  }


  .favorited_hero_card_modifier{
      border: 3px solid goldenrod;
      color: goldenrod;   
  }

  @media (max-width: 380px){
      .jarvis_nav{
          display:flex;
          flex-direction: column;
          z-index: 1;
          height: 5%;
          position:absolute;
          
      }
      .jarvis_navbar{
          font-size: 0.5rem;
          height: 3%
      }
      .jarvis_nav_element{
          margin: 0.2rem;
          font-size: 0.9rem;
      }
  }

